In [1]:
import numpy as np
import pandas as pd
import folium
from yellowbrick.cluster import KElbowVisualizer
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn.cluster import AffinityPropagation
from sklearn.decomposition import PCA
import seaborn as sns
import matplotlib.pyplot as plt
from folium.plugins import MarkerCluster
from sklearn.metrics import silhouette_score, calinski_harabasz_score, davies_bouldin_score,adjusted_mutual_info_score,completeness_score,homogeneity_score

import warnings
warnings.filterwarnings("ignore")


west1=pd.pandas.read_fwf(r"C:\Users\Mario\Documents\Labs\Final Project - Greenland warming last 150 years\nuuk_west coast1.txt")
west2=pd.pandas.read_fwf(r"C:\Users\Mario\Documents\Labs\Final Project - Greenland warming last 150 years\ilulissat_west coast1.txt")
south1=pd.pandas.read_fwf(r"C:\Users\Mario\Documents\Labs\Final Project - Greenland warming last 150 years\qaqortoq_south coast1.txt")

In [2]:
#Adding column names to data set as the data sets had no column header (Year and Months)
west1.columns =['Year','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez']
west2.columns =['Year','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez']
south1.columns =['Year','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez']

In [3]:
print(west1.dtypes)
print(west2.dtypes)
print(south1.dtypes)

Year    int64
Jan     int64
Feb     int64
Mar     int64
Apr     int64
May     int64
Jun     int64
Jul     int64
Aug     int64
Sept    int64
Oct     int64
Nov     int64
Dez     int64
dtype: object
Year    int64
Jan     int64
Feb     int64
Mar     int64
Apr     int64
May     int64
Jun     int64
Jul     int64
Aug     int64
Sept    int64
Oct     int64
Nov     int64
Dez     int64
dtype: object
Year    int64
Jan     int64
Feb     int64
Mar     int64
Apr     int64
May     int64
Jun     int64
Jul     int64
Aug     int64
Sept    int64
Oct     int64
Nov     int64
Dez     int64
dtype: object

In [4]:
#Removing rows from year 1785 to 1872 as they contain alot of empty values
west1=west1.iloc[88:]
west2=west2.iloc[88:]
south1=south1.iloc[88:]

In [5]:
# Resetting index
west1=west1.reset_index()
west2=west2.reset_index()
south1=south1.reset_index()

In [6]:
# Deleting old index column
west1=west1.drop('index', axis=1)
west2=west2.drop('index', axis=1)
south1=south1.drop('index', axis=1)

In [7]:
# west1.loc[(west1['Year']>=1873)&(west1['Year']<1893),'Timeframe']='1873-1892'
# west1.loc[(west1['Year']>=1893)&(west1['Year']<1913),'Timeframe']='1893-1912'
# west1.loc[(west1['Year']>=1913)&(west1['Year']<1933),'Timeframe']='1913-1932'
# west1.loc[(west1['Year']>=1933)&(west1['Year']<1953),'Timeframe']='1933-1952'
# west1.loc[(west1['Year']>=1953)&(west1['Year']<1973),'Timeframe']='1953-1972'
# west1.loc[(west1['Year']>=1973)&(west1['Year']<1993),'Timeframe']='1973-1992'
# west1.loc[(west1['Year']>=1993)&(west1['Year']<2014),'Timeframe']='1993-2013'

# west2.loc[(west2['Year']>=1873)&(west2['Year']<1893),'Timeframe']='1873-1892'
# west2.loc[(west2['Year']>=1893)&(west2['Year']<1913),'Timeframe']='1893-1912'
# west2.loc[(west2['Year']>=1913)&(west2['Year']<1933),'Timeframe']='1913-1932'
# west2.loc[(west2['Year']>=1933)&(west2['Year']<1953),'Timeframe']='1933-1952'
# west2.loc[(west2['Year']>=1953)&(west2['Year']<1973),'Timeframe']='1953-1972'
# west2.loc[(west2['Year']>=1973)&(west2['Year']<1993),'Timeframe']='1973-1992'
# west2.loc[(west2['Year']>=1993)&(west2['Year']<2014),'Timeframe']='1993-2013'

# south1.loc[(south1['Year']>=1873)&(south1['Year']<1893),'Timeframe']='1873-1892'
# south1.loc[(south1['Year']>=1893)&(south1['Year']<1913),'Timeframe']='1893-1912'
# south1.loc[(south1['Year']>=1913)&(south1['Year']<1933),'Timeframe']='1913-1932'
# south1.loc[(south1['Year']>=1933)&(south1['Year']<1953),'Timeframe']='1933-1952'
# south1.loc[(south1['Year']>=1953)&(south1['Year']<1973),'Timeframe']='1953-1972'
# south1.loc[(south1['Year']>=1973)&(south1['Year']<1993),'Timeframe']='1973-1992'
# south1.loc[(south1['Year']>=1993)&(south1['Year']<2014),'Timeframe']='1993-2013'

In [8]:
from sqlalchemy import create_engine
import mysql.connector as sqlc

# host="localhost",
# username="root",
# password="19225360",
# database="greenland"

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="19225360",
                               db="greenland"))
west1.to_sql('west1',con = engine, if_exists = 'append', chunksize = 1000)
west2.to_sql('west2',con = engine, if_exists = 'append', chunksize = 1000)
south1.to_sql('south1',con = engine, if_exists = 'append', chunksize = 1000)

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'index' in 'field list'")
[SQL: INSERT INTO west1 (`index`, `Year`, `Jan`, `Feb`, `Mar`, `Apr`, `May`, `Jun`, `Jul`, `Aug`, `Sept`, `Oct`, `Nov`, `Dez`) VALUES (%(index)s, %(Year)s, %(Jan)s, %(Feb)s, %(Mar)s, %(Apr)s, %(May)s, %(Jun)s, %(Jul)s, %(Aug)s, %(Sept)s, %(Oct)s, %(Nov)s, %(Dez)s)]
[parameters: ({'index': 0, 'Year': 1873, 'Jan': -121, 'Feb': -76, 'Mar': -98, 'Apr': -24, 'May': 26, 'Jun': 37, 'Jul': 74, 'Aug': 56, 'Sept': 24, 'Oct': -21, 'Nov': -32, 'Dez': -96}, {'index': 1, 'Year': 1874, 'Jan': -131, 'Feb': -86, 'Mar': -78, 'Apr': -46, 'May': 19, 'Jun': 36, 'Jul': 60, 'Aug': 58, 'Sept': 25, 'Oct': -32, 'Nov': -36, 'Dez': -48}, {'index': 2, 'Year': 1875, 'Jan': -66, 'Feb': -80, 'Mar': -121, 'Apr': -23, 'May': -8, 'Jun': 30, 'Jul': 63, 'Aug': 54, 'Sept': 33, 'Oct': -6, 'Nov': -13, 'Dez': -61}, {'index': 3, 'Year': 1876, 'Jan': -111, 'Feb': -92, 'Mar': -75, 'Apr': -31, 'May': 7, 'Jun': 42, 'Jul': 59, 'Aug': 61, 'Sept': 38, 'Oct': 0, 'Nov': -35, 'Dez': -46}, {'index': 4, 'Year': 1877, 'Jan': -145, 'Feb': -96, 'Mar': -68, 'Apr': -30, 'May': 18, 'Jun': 47, 'Jul': 61, 'Aug': 77, 'Sept': 55, 'Oct': -14, 'Nov': -58, 'Dez': -85}, {'index': 5, 'Year': 1878, 'Jan': -77, 'Feb': -73, 'Mar': -61, 'Apr': -33, 'May': 7, 'Jun': 44, 'Jul': 73, 'Aug': 59, 'Sept': 20, 'Oct': -16, 'Nov': 14, 'Dez': -9}, {'index': 6, 'Year': 1879, 'Jan': -65, 'Feb': -86, 'Mar': -92, 'Apr': -10, 'May': 6, 'Jun': 38, 'Jul': 59, 'Aug': 67, 'Sept': 11, 'Oct': -9, 'Nov': -30, 'Dez': -103}, {'index': 7, 'Year': 1880, 'Jan': -119, 'Feb': -142, 'Mar': -87, 'Apr': -38, 'May': -1, 'Jun': 43, 'Jul': 75, 'Aug': 62, 'Sept': 33, 'Oct': 27, 'Nov': -40, 'Dez': -64}  ... displaying 10 of 141 total bound parameter sets ...  {'index': 139, 'Year': 2012, 'Jan': -79, 'Feb': -75, 'Mar': -107, 'Apr': -19, 'May': 28, 'Jun': 81, 'Jul': 104, 'Aug': 86, 'Sept': 55, 'Oct': 27, 'Nov': -28, 'Dez': -57}, {'index': 140, 'Year': 2013, 'Jan': -54, 'Feb': -71, 'Mar': -28, 'Apr': -6, 'May': -10, 'Jun': 48, 'Jul': 77, 'Aug': 72, 'Sept': 40, 'Oct': 8, 'Nov': -36, 'Dez': -76})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
import MySQLdb

db= MySQLdb.connect("localhost", "root", "19225360", "greenland")

cursor= db.cursor()

cursor.execute("ALTER TABLE west1 DROP `index`")
cursor.execute("ALTER TABLE west2 DROP `index`")
cursor.execute("ALTER TABLE south1 DROP `index`")

db.close()

In [ ]:
west1_timeframe = west1.groupby(['Timeframe'])['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez'].mean()
west2_timeframe = west1.groupby(['Timeframe'])['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez'].mean()
south1_timeframe = south1.groupby(['Timeframe'])['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez'].mean()

In [ ]:
plt.figure(figsize=(12,5.5))
plt.plot(west1_timeframe.index, west1_timeframe['Jan'], label = "January")
plt.plot(west1_timeframe.index, west1_timeframe['Feb'], label = "February")
plt.plot(west1_timeframe.index, west1_timeframe['Mar'], label = "March")
plt.plot(west1_timeframe.index, west1_timeframe['Apr'], label = "April")
plt.plot(west1_timeframe.index, west1_timeframe['May'], label = "May")
plt.plot(west1_timeframe.index, west1_timeframe['Jun'], label = "June")
plt.plot(west1_timeframe.index, west1_timeframe['Jul'], label = "July")
plt.plot(west1_timeframe.index, west1_timeframe['Aug'], label = "August")
plt.plot(west1_timeframe.index, west1_timeframe['Sept'], label = "September")
plt.plot(west1_timeframe.index, west1_timeframe['Oct'], label = "October")
plt.plot(west1_timeframe.index, west1_timeframe['Nov'], label = "November")
plt.plot(west1_timeframe.index, west1_timeframe['Dez'], label = "Dezember")
plt.title('West1')
plt.legend(bbox_to_anchor=(0, 1), loc='upper left', ncol=1)
plt.show()

In [ ]:
plt.figure(figsize=(12,5.5))
plt.plot(west2_timeframe.index, west2_timeframe['Jan'], label = "January")
plt.plot(west2_timeframe.index, west2_timeframe['Feb'], label = "February")
plt.plot(west2_timeframe.index, west2_timeframe['Mar'], label = "March")
plt.plot(west2_timeframe.index, west2_timeframe['Apr'], label = "April")
plt.plot(west2_timeframe.index, west2_timeframe['May'], label = "May")
plt.plot(west2_timeframe.index, west2_timeframe['Jun'], label = "June")
plt.plot(west2_timeframe.index, west2_timeframe['Jul'], label = "July")
plt.plot(west2_timeframe.index, west2_timeframe['Aug'], label = "August")
plt.plot(west2_timeframe.index, west2_timeframe['Sept'], label = "September")
plt.plot(west2_timeframe.index, west2_timeframe['Oct'], label = "October")
plt.plot(west2_timeframe.index, west2_timeframe['Nov'], label = "November")
plt.plot(west2_timeframe.index, west2_timeframe['Dez'], label = "Dezember")

plt.title('West2')
plt.legend(bbox_to_anchor=(0, 1), loc='upper left', ncol=1)
plt.show()

In [ ]:
plt.figure(figsize=(12,5.5))
plt.plot(south1_timeframe.index, south1_timeframe['Jan'], label = "January")
plt.plot(south1_timeframe.index, south1_timeframe['Feb'], label = "February")
plt.plot(south1_timeframe.index, south1_timeframe['Mar'], label = "March")
plt.plot(south1_timeframe.index, south1_timeframe['Apr'], label = "April")
plt.plot(south1_timeframe.index, south1_timeframe['May'], label = "May")
plt.plot(south1_timeframe.index, south1_timeframe['Jun'], label = "June")
plt.plot(south1_timeframe.index, south1_timeframe['Jul'], label = "July")
plt.plot(south1_timeframe.index, south1_timeframe['Aug'], label = "August")
plt.plot(south1_timeframe.index, south1_timeframe['Sept'], label = "September")
plt.plot(south1_timeframe.index, south1_timeframe['Oct'], label = "October")
plt.plot(south1_timeframe.index, south1_timeframe['Nov'], label = "November")
plt.plot(south1_timeframe.index, south1_timeframe['Dez'], label = "Dezember")

plt.title('South1')
plt.legend(bbox_to_anchor=(0, 1), loc='upper left', ncol=1)
plt.show()

In [ ]:
import pandas as pd # import Pandas library 
from sqlalchemy import create_engine
my_conn = create_engine("mysql+mysqldb://root:19225360@localhost/greenland")

In [ ]:
#Selecting average temperature per year from all 3 sites via SQL

w1_year_avg_q="""SELECT Year, SUM(Jan+Feb+Mar+Apr+May+Jun+Jul+Aug+Sept+Oct+Nov+Dez)/12 as Year_Avg
        FROM west1 GROUP BY Year;"""
w2_year_avg_q="""SELECT Year, SUM(Jan+Feb+Mar+Apr+May+Jun+Jul+Aug+Sept+Oct+Nov+Dez)/12 as Year_Avg
        FROM west2 GROUP BY Year;"""
s1_year_avg_q="""SELECT Year, SUM(Jan+Feb+Mar+Apr+May+Jun+Jul+Aug+Sept+Oct+Nov+Dez)/12 as Year_Avg
        FROM south1 GROUP BY Year;"""
w1_year_avg=pd.read_sql(w1_year_avg_q,my_conn)
w2_year_avg=pd.read_sql(w2_year_avg_q,my_conn)
s1_year_avg=pd.read_sql(s1_year_avg_q,my_conn)

In [ ]:
#Plotting the yearly average temperature from each site
plt.figure(figsize=(12,5.5))
plt.plot(w1_year_avg['Year'], w1_year_avg['Year_Avg'], label = "West1")
plt.plot(w2_year_avg['Year'], w2_year_avg['Year_Avg'], label = "West2")
plt.plot(s1_year_avg['Year'], s1_year_avg['Year_Avg'], label = "South1")

plt.title('Average yearly temperatur 1873 to 2013')
plt.legend(bbox_to_anchor=(0, 1), loc='upper left', ncol=1)

w2 = np.arange(w2_year_avg['Year'].size)
fit = np.polyfit(w2, w2_year_avg['Year_Avg'], deg=1)
fit_function = np.poly1d(fit)
plt.plot(w2_year_avg['Year'], fit_function(w2))

w1 = np.arange(w1_year_avg['Year'].size)
fit = np.polyfit(w1, w1_year_avg['Year_Avg'], deg=1)
fit_function = np.poly1d(fit)
plt.plot(w1_year_avg['Year'], fit_function(w1))

s1 = np.arange(s1_year_avg['Year'].size)
fit = np.polyfit(s1, s1_year_avg['Year_Avg'], deg=1)
fit_function = np.poly1d(fit)
plt.plot(s1_year_avg['Year'], fit_function(s1))
plt.show()

In [ ]:
plt.figure(figsize=(12,5.5))
plt.plot(w1_year_avg['Year'], w1_year_avg['Year_Avg'], label = "West1")
x = np.arange(w1_year_avg['Year'].size)
fit = np.polyfit(x, w1_year_avg['Year_Avg'], deg=1)
fit_function = np.poly1d(fit)
plt.plot(w1_year_avg['Year'], fit_function(x))
# print ("Slope : " + str(fit[0]))
# print ("Intercept : " + str(fit[1]))

In [ ]:
plt.figure(figsize=(12,5.5))
plt.plot(w2_year_avg['Year'], w2_year_avg['Year_Avg'], label = "West1")
x = np.arange(w2_year_avg['Year'].size)
fit = np.polyfit(x, w2_year_avg['Year_Avg'], deg=1)
fit_function = np.poly1d(fit)
plt.plot(w2_year_avg['Year'], fit_function(x))

In [ ]:
plt.figure(figsize=(12,5.5))
plt.plot(s1_year_avg['Year'], s1_year_avg['Year_Avg'], label = "West1")
x = np.arange(s1_year_avg['Year'].size)
fit = np.polyfit(x, s1_year_avg['Year_Avg'], deg=1)
fit_function = np.poly1d(fit)
plt.plot(s1_year_avg['Year'], fit_function(x))
# print ("Slope : " + str(fit[0]))
# print ("Intercept : " + str(fit[1]))