In [1]:
import numpy as np
import pandas as pd
df=pd.read_excel(r"C:\Users\Mario\Documents\Labs\Module2\Project_Week7\Sample data set employability__Tableau_temp.xlsx")
df.head(20)

,at risk,Name,Career Week end date,Days since graduation,Cohort Name,Outcome Category,Outcome Status,Track,Format,Campus,CV,Linkedin,Portfolio,Job ready pct,Soft skills score,Soft skills pct,Assessment score,Lab score,Final project grade,Final project pct
0,NaN,Valentine Parker,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1.0,1.000000,3.714286,0.742857,96.75,4.78,2.86,0.94952
1,ðŸš©,Gregoria Veum III,2022-06-23,71,Cohort1,Excluded,Not Eligible,WD,FT,RMT,0,0,0.0,0.000000,1.000000,0.200000,48.71,3.90,1.79,0.59428
2,NaN,Isai Turcotte DVM,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1.0,1.000000,3.285714,0.657143,63.25,4.33,2.36,0.78352
3,NaN,Alex Mueller,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1.0,1.000000,3.571429,0.714286,99.35,4.50,1.86,0.61752
4,NaN,Coy Kuphal,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1.0,1.000000,2.000000,0.400000,45.66,4.00,2.29,0.76028
5,NaN,Janis Bayer,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1.0,1.000000,3.000000,0.600000,95.24,4.87,2.86,0.94952
6,NaN,Mr. Emelia Graham,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1.0,1.000000,4.000000,0.800000,85.97,4.42,2.86,0.94952
7,NaN,Drake Hills,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1.0,1.000000,2.857143,0.571429,88.79,4.38,2.86,0.94952
8,NaN,Kirk Mosciski,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1.0,1.000000,1.571429,0.314286,81.64,4.11,2.21,0.73372
9,NaN,Verda Osinski,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1.0,1.000000,2.142857,0.428571,100,4.50,1.79,0.59428
10,NaN,Lucius McCullough,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1.0,1.000000,2.142857,0.428571,74.66,3.84,2.29,0.76028
11,NaN,Lilliana Herman,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1.0,1.000000,1.714286,0.342857,54.95,3.84,2.21,0.73372
12,NaN,Lavina Schaefer,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1.0,1.000000,2.428571,0.485714,91.99,4.26,2.36,0.78352
13,ðŸš©,Ewell Hammes,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,0.0,0.666667,1.000000,0.200000,23.44,3.20,2.00,0.66400
14,ðŸš©,Kassandra Bernier,2022-06-23,71,Cohort1,Employed,Hired In Field,WD,FT,RMT,1,1,0.0,0.666667,1.000000,0.200000,,3.42,1.71,0.56772
15,NaN,Clemens Fisher,2022-06-24,70,Cohort2,Excluded,Back To Job,NaN,FT,LIS,1,1,0.0,0.666667,NaN,NaN,98.86,NaN,2.43,0.80676
16,NaN,Dennis Kilback,2022-06-24,70,Cohort2,Employed,Hired In Field,NaN,FT,LIS,0,0,0.0,0.000000,NaN,NaN,76.14,NaN,1.71,0.56772
17,NaN,Nicholas Miller,2022-06-24,70,Cohort2,Searching,Searching,NaN,FT,LIS,1,1,0.0,0.666667,NaN,NaN,98.86,NaN,2.43,0.80676
18,NaN,Claude Kautzer DDS,2022-06-24,70,Cohort2,Searching,Searching,NaN,FT,LIS,1,1,1.0,1.000000,NaN,NaN,96.97,NaN,1.71,0.56772
19,NaN,Nia Brown,2022-06-24,70,Cohort2,Searching,Searching,NaN,FT,LIS,1,1,0.0,0.666667,NaN,NaN,86.36,NaN,1.93,0.64076

In [2]:
df['Days since graduation'] = df['Days since graduation'].astype(int)
df['Portfolio'] = df['Portfolio'].astype(int)
df.head(3)

,at risk,Name,Career Week end date,Days since graduation,Cohort Name,Outcome Category,Outcome Status,Track,Format,Campus,CV,Linkedin,Portfolio,Job ready pct,Soft skills score,Soft skills pct,Assessment score,Lab score,Final project grade,Final project pct
0,NaN,Valentine Parker,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,1.0,3.714286,0.742857,96.75,4.78,2.86,0.94952
1,ðŸš©,Gregoria Veum III,2022-06-23,71,Cohort1,Excluded,Not Eligible,WD,FT,RMT,0,0,0,0.0,1.000000,0.200000,48.71,3.90,1.79,0.59428
2,NaN,Isai Turcotte DVM,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,1.0,3.285714,0.657143,63.25,4.33,2.36,0.78352

In [3]:
df.isnull().sum()

at risk                  54
Name                      0
Career Week end date      0
Days since graduation     0
Cohort Name               0
Outcome Category          0
Outcome Status            0
Track                    19
Format                    0
Campus                    0
CV                        0
Linkedin                  0
Portfolio                 0
Job ready pct             0
Soft skills score        19
Soft skills pct          19
Assessment score          0
Lab score                19
Final project grade       0
Final project pct         0
dtype: int64

In [5]:
df['Track']=df['Track'].fillna("WD") 
df['at risk']=df['at risk'].fillna(0)
df.loc[(df['at risk']!=0),"at risk"]=1
df['Lab score']=df['Lab score'].fillna(2.50)
df['Soft skills score']=df['Soft skills score'].fillna(2.50)
df['Soft skills pct']=df['Soft skills pct'].fillna(0.5)
df.head(20)

,at risk,Name,Career Week end date,Days since graduation,Cohort Name,Outcome Category,Outcome Status,Track,Format,Campus,CV,Linkedin,Portfolio,Job ready pct,Soft skills score,Soft skills pct,Assessment score,Lab score,Final project grade,Final project pct
0,0,Valentine Parker,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,1.000000,3.714286,0.742857,96.75,4.78,2.86,0.94952
1,1,Gregoria Veum III,2022-06-23,71,Cohort1,Excluded,Not Eligible,WD,FT,RMT,0,0,0,0.000000,1.000000,0.200000,48.71,3.90,1.79,0.59428
2,0,Isai Turcotte DVM,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,1.000000,3.285714,0.657143,63.25,4.33,2.36,0.78352
3,0,Alex Mueller,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,1.000000,3.571429,0.714286,99.35,4.50,1.86,0.61752
4,0,Coy Kuphal,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,1.000000,2.000000,0.400000,45.66,4.00,2.29,0.76028
5,0,Janis Bayer,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,1.000000,3.000000,0.600000,95.24,4.87,2.86,0.94952
6,0,Mr. Emelia Graham,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,1.000000,4.000000,0.800000,85.97,4.42,2.86,0.94952
7,0,Drake Hills,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,1.000000,2.857143,0.571429,88.79,4.38,2.86,0.94952
8,0,Kirk Mosciski,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,1.000000,1.571429,0.314286,81.64,4.11,2.21,0.73372
9,0,Verda Osinski,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,1.000000,2.142857,0.428571,100,4.50,1.79,0.59428
10,0,Lucius McCullough,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,1.000000,2.142857,0.428571,74.66,3.84,2.29,0.76028
11,0,Lilliana Herman,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,1.000000,1.714286,0.342857,54.95,3.84,2.21,0.73372
12,0,Lavina Schaefer,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,1.000000,2.428571,0.485714,91.99,4.26,2.36,0.78352
13,1,Ewell Hammes,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,0,0.666667,1.000000,0.200000,23.44,3.20,2.00,0.66400
14,1,Kassandra Bernier,2022-06-23,71,Cohort1,Employed,Hired In Field,WD,FT,RMT,1,1,0,0.666667,1.000000,0.200000,,3.42,1.71,0.56772
15,0,Clemens Fisher,2022-06-24,70,Cohort2,Excluded,Back To Job,WD,FT,LIS,1,1,0,0.666667,2.500000,0.500000,98.86,2.50,2.43,0.80676
16,0,Dennis Kilback,2022-06-24,70,Cohort2,Employed,Hired In Field,WD,FT,LIS,0,0,0,0.000000,2.500000,0.500000,76.14,2.50,1.71,0.56772
17,0,Nicholas Miller,2022-06-24,70,Cohort2,Searching,Searching,WD,FT,LIS,1,1,0,0.666667,2.500000,0.500000,98.86,2.50,2.43,0.80676
18,0,Claude Kautzer DDS,2022-06-24,70,Cohort2,Searching,Searching,WD,FT,LIS,1,1,1,1.000000,2.500000,0.500000,96.97,2.50,1.71,0.56772
19,0,Nia Brown,2022-06-24,70,Cohort2,Searching,Searching,WD,FT,LIS,1,1,0,0.666667,2.500000,0.500000,86.36,2.50,1.93,0.64076

In [6]:
df['Soft skills pct']=df['Soft skills pct'].map(lambda n: '{:,.2%}'.format(n))
df['Job ready pct']=df['Job ready pct'].map(lambda n: '{:,.2%}'.format(n))
df['Final project pct']=df['Final project pct'].map(lambda n: '{:,.2%}'.format(n))
df['Soft skills score']=df['Soft skills score'].map(lambda n: '{:,.3}'.format(n))
df.head(20)

,at risk,Name,Career Week end date,Days since graduation,Cohort Name,Outcome Category,Outcome Status,Track,Format,Campus,CV,Linkedin,Portfolio,Job ready pct,Soft skills score,Soft skills pct,Assessment score,Lab score,Final project grade,Final project pct
0,0,Valentine Parker,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,3.71,74.29%,96.75,4.78,2.86,94.95%
1,1,Gregoria Veum III,2022-06-23,71,Cohort1,Excluded,Not Eligible,WD,FT,RMT,0,0,0,0.00%,1.0,20.00%,48.71,3.90,1.79,59.43%
2,0,Isai Turcotte DVM,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,3.29,65.71%,63.25,4.33,2.36,78.35%
3,0,Alex Mueller,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,3.57,71.43%,99.35,4.50,1.86,61.75%
4,0,Coy Kuphal,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,2.0,40.00%,45.66,4.00,2.29,76.03%
5,0,Janis Bayer,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,3.0,60.00%,95.24,4.87,2.86,94.95%
6,0,Mr. Emelia Graham,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,4.0,80.00%,85.97,4.42,2.86,94.95%
7,0,Drake Hills,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,2.86,57.14%,88.79,4.38,2.86,94.95%
8,0,Kirk Mosciski,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,1.57,31.43%,81.64,4.11,2.21,73.37%
9,0,Verda Osinski,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,2.14,42.86%,100,4.50,1.79,59.43%
10,0,Lucius McCullough,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,2.14,42.86%,74.66,3.84,2.29,76.03%
11,0,Lilliana Herman,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,1.71,34.29%,54.95,3.84,2.21,73.37%
12,0,Lavina Schaefer,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,1,100.00%,2.43,48.57%,91.99,4.26,2.36,78.35%
13,1,Ewell Hammes,2022-06-23,71,Cohort1,Searching,Searching,WD,FT,RMT,1,1,0,66.67%,1.0,20.00%,23.44,3.20,2.00,66.40%
14,1,Kassandra Bernier,2022-06-23,71,Cohort1,Employed,Hired In Field,WD,FT,RMT,1,1,0,66.67%,1.0,20.00%,,3.42,1.71,56.77%
15,0,Clemens Fisher,2022-06-24,70,Cohort2,Excluded,Back To Job,WD,FT,LIS,1,1,0,66.67%,2.5,50.00%,98.86,2.50,2.43,80.68%
16,0,Dennis Kilback,2022-06-24,70,Cohort2,Employed,Hired In Field,WD,FT,LIS,0,0,0,0.00%,2.5,50.00%,76.14,2.50,1.71,56.77%
17,0,Nicholas Miller,2022-06-24,70,Cohort2,Searching,Searching,WD,FT,LIS,1,1,0,66.67%,2.5,50.00%,98.86,2.50,2.43,80.68%
18,0,Claude Kautzer DDS,2022-06-24,70,Cohort2,Searching,Searching,WD,FT,LIS,1,1,1,100.00%,2.5,50.00%,96.97,2.50,1.71,56.77%
19,0,Nia Brown,2022-06-24,70,Cohort2,Searching,Searching,WD,FT,LIS,1,1,0,66.67%,2.5,50.00%,86.36,2.50,1.93,64.08%

In [7]:
df.loc[(df['Track']=='WD'),"Track"]='WebDev'
df.loc[(df['Format']=='FT'),"Format"]='Fulltime'
df.loc[(df['Campus']=='RMT'),"Campus"]='Remote'
df.loc[(df['Campus']=='LIS'),"Campus"]='Lisbon'
df.loc[(df['Campus']=='MAD'),"Campus"]='Madrid'

In [8]:
df.isnull().sum()

at risk                  0
Name                     0
Career Week end date     0
Days since graduation    0
Cohort Name              0
Outcome Category         0
Outcome Status           0
Track                    0
Format                   0
Campus                   0
CV                       0
Linkedin                 0
Portfolio                0
Job ready pct            0
Soft skills score        0
Soft skills pct          0
Assessment score         0
Lab score                0
Final project grade      0
Final project pct        0
dtype: int64

In [ ]:
enc= OrdinalEncoder ()

In [9]:
enc= OrdinalEncoder ()
df[["Outcome Category"]] = enc.fit_transform(df[["Outcome Category"]])
df[["Outcome Status"]] = enc.fit_transform(df[["Outcome Status"]])

In [ ]:
df.to_csv('Employability_Cleaned.csv')