## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
import random
sample_list_1 = random.sample(range(1, 100), 80)
print(sample_list_1)

[93, 43, 16, 55, 76, 70, 66, 33, 57, 46, 74, 50, 14, 68, 96, 45, 3, 72, 26, 5, 13, 23, 34, 9, 19, 53, 77, 61, 49, 41, 42, 87, 39, 85, 78, 52, 18, 12, 21, 82, 91, 1, 17, 86, 28, 90, 29, 80, 65, 20, 8, 30, 7, 56, 6, 37, 73, 22, 10, 88, 35, 38, 51, 48, 24, 44, 31, 11, 83, 60, 81, 94, 69, 27, 71, 63, 92, 95, 99, 59]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
import random
sample_list_1 = random.sample(range(1, 100), 80)
set1 = set(sample_list_1)
print(set1)

{1, 3, 4, 5, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 44, 46, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 96, 97, 98}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
import random
sample_list_1 = random.sample(range(1, 100), 80)
set1 = set(sample_list_1)
print(set1)

sample_list_2=[]
for i in range(1,80):
    n=random.randint(1,100)
    sample_list_2.append(n)
print(sample_list_2)

{1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 39, 40, 41, 42, 44, 45, 47, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 71, 72, 73, 74, 76, 78, 79, 80, 81, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98}
[4, 13, 90, 65, 56, 25, 17, 20, 78, 8, 69, 89, 86, 66, 95, 43, 50, 65, 97, 53, 12, 40, 75, 5, 97, 15, 2, 12, 41, 84, 41, 88, 36, 90, 97, 9, 24, 86, 99, 45, 58, 59, 75, 11, 86, 49, 90, 58, 95, 61, 42, 22, 9, 48, 43, 93, 42, 63, 64, 22, 96, 97, 42, 67, 74, 54, 22, 100, 20, 76, 49, 21, 54, 45, 20, 32, 20, 28, 47]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(len(set2))

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
sample_list_3=[]
for i in set1:
    if i not in set2:
        sample_list_3.append(i)
set3=set(sample_list_1)
print(sample_list_3)

[1, 6, 7, 10, 14, 18, 19, 23, 26, 27, 29, 30, 31, 33, 34, 37, 39, 44, 51, 52, 55, 57, 60, 62, 68, 71, 72, 73, 79, 80, 81, 85, 87, 91, 92, 98]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
sample_list_4=[]
for i in set2:
    if i not in set1:
        sample_list_4.append(i)
set4=set(sample_list_4)
print("Set4",set4)

Set4 {66, 99, 4, 69, 100, 43, 75, 48, 22, 56}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
sample_list_5=[]
for i in set2:
    if i in set2:
        sample_list_5.append(i)
set5=set(sample_list_5)
print("Set5",set5)

Set5 {2, 4, 5, 8, 9, 11, 12, 13, 15, 17, 20, 21, 22, 24, 25, 28, 32, 36, 40, 41, 42, 43, 45, 47, 48, 49, 50, 53, 54, 56, 58, 59, 61, 63, 64, 65, 66, 67, 69, 74, 75, 76, 78, 84, 86, 88, 89, 90, 93, 95, 96, 97, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
I dont exactly understand this task. Only relationship i found is that set2 and set5 have the same length

SyntaxError: invalid syntax (3926805208.py, line 1)

#### Create an empty set called `set6`.

In [ ]:
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [ ]:
if set1==set6:
    print("Set1 and Set6 are equel")
else:
    print("Set1 and Set6 are not equal")

# Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
print(set2.issubset(set1))
print(set3.issubset(set1))

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
set_union345=set3.union(set4,set5)
print(set_union345)
set_union12=set1.union(set2)
print(set_union345)
if set_union345==set_union12:
    print("Set1 and Set6 are equal")
else:
    print("Set1 and Set6 are not equal")

#### Using the `pop` method, remove the first element from `set1`.

In [17]:

set1

{6,
 7,
 8,
 10,
 12,
 13,
 14,
 15,
 17,
 18,
 20,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 36,
 37,
 40,
 42,
 44,
 45,
 47,
 50,
 52,
 53,
 54,
 55,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 67,
 68,
 72,
 73,
 74,
 76,
 78,
 80,
 84,
 85,
 86,
 87,
 88,
 90,
 92,
 93,
 95,
 96,
 97,
 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [11]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.discard(i)
print(set1)

{2, 5, 6, 7, 8, 10, 12, 13, 14, 15, 17, 18, 20, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 36, 37, 40, 42, 44, 45, 47, 50, 52, 53, 54, 55, 57, 58, 60, 62, 63, 64, 65, 67, 68, 72, 73, 74, 76, 78, 80, 84, 85, 86, 87, 88, 90, 92, 93, 95, 96, 97, 98}