In [2]:
import pandas as pd
import scipy
import math
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
invest=pd.read_excel(r"C:\Users\Mario\Documents\Privat\Week5\Day3\use_case_investments.xlsx")

In [3]:
invest

     Month  Investments return
0      1.0               119.0
1      2.0               176.0
2      3.0               190.0
3      4.0               215.0
4      5.0               173.0
..     ...                 ...
295  296.0               185.0
296  297.0               175.0
297  298.0               198.0
298  299.0               118.0
299  300.0               190.0

[300 rows x 2 columns]

In [34]:

mean=invest['Investments return'].mean()
inv_std=0
se=inv_std/math.sqrt(len(invest['Investments return']))
x=stats.norm.interval(0.999999999999999)[1]
print(mean)

print('Lowest average with a confidence of 99.9999999999999% is :', mean-x)

161.16333333333333
Lowest average with a confidence of 99.9999999% is : 153.1219333742368

In [39]:
alpha=1

stats.ttest_1samp(invest['Investments return'], popmean=150, alternative='less')

Ttest_1sampResult(statistic=5.516125451260567, pvalue=0.9999999624599536)