In [7]:
import pandas as pd
data=pd.read_csv(r'C:\Users\Mario\Documents\Privat\Week3\D2\vehicles\vehicles.csv')
data.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [10]:
data=data.rename(columns={'Make':'Producer', 'Engine Displacement':'Displacement'})
data.columns

Index(['Producer', 'Model', 'Year', 'Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [11]:
column_order = ['Year','Make','Model','Vehicle Class',
                'Transmission','Drivetrain','Fuel Type',
                'Cylinders','Engine Displacement','Fuel Barrels/Year',
                'City MPG','Highway MPG','Combined MPG',
                'CO2 Emission Grams/Mile','Fuel Cost/Year']

In [23]:
data = data[column_order]
data

KeyError: "['Make', 'Engine Displacement'] not in index"

In [ ]:
data.head()

In [22]:
avg_mpg = data.groupby('Producer', as_index=False).agg({'Combined MPG':'mean'})
#renames Combined MPG to Avg_MPG
avg_mpg.columns = ['Producer', 'Avg_MPG']
avg_mpg

                        Producer    Avg_MPG
0                     AM General  14.750000
1               ASC Incorporated  16.000000
2                          Acura  21.506623
3                     Alfa Romeo  19.512195
4    American Motors Corporation  17.681818
..                           ...        ...
122                   Volkswagen  24.093601
123                        Volvo  20.605300
124        Wallace Environmental  13.875000
125                         Yugo  25.000000
126                        smart  35.800000

[127 rows x 2 columns]

In [ ]:
data = pd.merge(data, avg_mpg, on='Producer')
data.head(10)