In [28]:
import yfinance as yf
from statsmodels.tsa.stattools import adfuller
import pandas as pd
import numpy as np
import seaborn as sns

In [15]:
bitc = yf.download(tickers="BTC-USD")[['Close']]
bitc

[*********************100%***********************]  1 of 1 completed

                   Close
Date
2014-09-17    457.334015
2014-09-18    424.440002
2014-09-19    394.795990
2014-09-20    408.903992
2014-09-21    398.821014
...                  ...
2022-09-02  19969.771484
2022-09-03  19832.087891
2022-09-04  19986.712891
2022-09-05  19812.371094
2022-09-06  19921.117188

[2912 rows x 1 columns]

In [24]:
bitc.index=pd.to_datetime(bitc.index)
bitc.head(10).round(2)

             Close
Date
2014-09-17  457.33
2014-09-18  424.44
2014-09-19  394.80
2014-09-20  408.90
2014-09-21  398.82
2014-09-22  402.15
2014-09-23  435.79
2014-09-24  423.20
2014-09-25  411.57
2014-09-26  404.42

In [26]:
bitc.shape

(2912, 1)

In [40]:
sns.lineplot(data=bitc.index, 'bitc', 'close')
plt.plot('title')

SyntaxError: positional argument follows keyword argument (3940992464.py, line 1)

In [ ]:
data['differ']=data

In [18]:
adf_result = adfuller(data['data'])

NameError: name 'adfuller' is not defined

In [ ]:
from statsmodel.tsa.

In [ ]:
test_size=500
df_train=data['differ'][:-test_size]
df_test=data['differ'][-test_size:]
print(len(df_train))
print(len(df_test))

In [ ]:
print(len(train))
fro, statsmodels.tools.eval_measure import rmse
RMSE_AR_1=rmse(df_test,predict_AR_1)
RMSE_AR_1

In [ ]:
model_MA_1=ARMA(df_train.dropna(), order=1)
result__MA_1=model_MA_1.fit()

In [12]:
from pmdarima import auto_arima
date_arima.isnull().sum()

ModuleNotFoundError: No module named 'pmdarima'