In [26]:
import numpy as np
import random
true=True
false=False
sheeps=[true,  true,  true,  false,
  true,  true,  true,  true ,
  true,  false, true,  false,
  true,  false, false, true,
  true,  true,  true,  true,
  false, false, true,  true]

count = np.count_nonzero(sheeps)
count

17

In [51]:
lst=["Keep", "Remove", "Keep", "Remove", "Keep", "Remove"]
def remove_every_nth(lst):
    del lst[1::2]
    return lst
remove_every_nth(lst)

['Keep', 'Keep', 'Keep']

In [42]:
from random import seed
from random import randint
seed(1)
random_num=randint(10000, 30000)
print('Number: ', random_num)
print('Reversed Number: ',str(random_num)[::-1])

Number:  14402
Reversed Number:  20441

In [67]:
#Welcome. In this kata, you are asked to square every digit of a number and concatenate them.
#For example, if we run 9119 through the function, 811181 will come out, because 92 is 81 and 12 is 1.
num=str(input("Enter the number :"))

def square(num):
    x = ''
    for i in str(num):
        y = int(i) * int(i)
        x += str(y)
    
    return int(x)
square(num)

Enter the number :9119

811181

811181