In [1]:
import numpy as np
import pandas as pd
import folium
from yellowbrick.cluster import KElbowVisualizer
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn.cluster import AffinityPropagation
from sklearn.decomposition import PCA
import seaborn as sns
import matplotlib.pyplot as plt
from folium.plugins import MarkerCluster
from sklearn.metrics import silhouette_score, calinski_harabasz_score, davies_bouldin_score,adjusted_mutual_info_score,completeness_score,homogeneity_score

import warnings
warnings.filterwarnings("ignore")


west1=pd.pandas.read_fwf(r"C:\Users\Mario\Documents\Labs\Final Project - Greenland warming last 150 years\nuuk_west coast1.txt")
west2=pd.pandas.read_fwf(r"C:\Users\Mario\Documents\Labs\Final Project - Greenland warming last 150 years\ilulissat_west coast1.txt")
south1=pd.pandas.read_fwf(r"C:\Users\Mario\Documents\Labs\Final Project - Greenland warming last 150 years\qaqortoq_south coast1.txt")

In [2]:
print(west1)
print(west2)
print(south1)

     1784  -999  -999.1  -999.2  -999.3  -999.4  -999.5  -999.6  -999.7    5  \
0    1785  -126    -125     -40     -58      -4      28      67      77   25
1    1786   -82     -76     -51       8      30      49      86      70   27
2    1787  -112    -109     -95     -13      17      74    -999    -999 -999
3    1788  -999    -999    -999    -999    -999    -999    -999    -999 -999
4    1789   -50    -113     -61     -26      11      59      87      59   37
..    ...   ...     ...     ...     ...     ...     ...     ...     ...  ...
224  2009   -50     -52     -95     -29       2      43      79      75   34
225  2010   -35     -10     -37      -7      51      67      80      95   68
226  2011   -49     -86     -86     -86       2      54      84      69   34
227  2012   -79     -75    -107     -19      28      81     104      86   55
228  2013   -54     -71     -28      -6     -10      48      77      72   40

     -35  -83  -32
0      0  -59  -77
1     -4   31  -61
2   -999 -999 -999
3   -999  -33   -6
4    -11  -14  -92
..   ...  ...  ...
224   -4  -59  -19
225   28   13    1
226  -19  -55  -69
227   27  -28  -57
228    8  -36  -76

[229 rows x 13 columns]
     1784  -999  -999.1  -999.2  -999.3  -999.4  -999.5  -999.6  -999.7  \
0    1785  -999    -999    -999    -999    -999    -999    -999    -999
1    1786  -999    -999    -999    -999    -999    -999    -999    -999
2    1787  -999    -999    -999    -999    -999    -999    -999    -999
3    1788  -999    -999    -999    -999    -999    -999    -999    -999
4    1789  -999    -999    -999    -999    -999    -999    -999    -999
..    ...   ...     ...     ...     ...     ...     ...     ...     ...
224  2009   -86     -96    -172     -81       8      58      91      78
225  2010   -79     -60     -93     -42      37      70      88      85
226  2011   -93    -106    -136    -138     -12      56     102      67
227  2012  -128    -138    -168     -55      17      75      93      73
228  2013   -95    -126     -90     -47     -32      64      76      56

     -999.8  -999.9  -999.10  -999.11
0      -999    -999     -999     -999
1      -999    -999     -999     -999
2      -999    -999     -999     -999
3      -999    -999     -999     -999
4      -999    -999     -999     -999
..      ...     ...      ...      ...
224      16     -36     -110      -60
225      55     -15      -20      -37
226      19     -52      -82     -118
227      37     -13      -69      -94
228      26     -34      -84     -115

[229 rows x 13 columns]
     1784  -999  -999.1  -999.2  -999.3  -999.4  -999.5  -999.6  -999.7  \
0    1785  -999    -999    -999    -999    -999    -999    -999    -999
1    1786  -999    -999    -999    -999    -999    -999    -999    -999
2    1787  -999    -999    -999    -999    -999    -999    -999    -999
3    1788  -999    -999    -999    -999    -999    -999    -999    -999
4    1789  -999    -999    -999    -999    -999    -999    -999    -999
..    ...   ...     ...     ...     ...     ...     ...     ...     ...
224  2009   -32     -18     -45       9      17      57      69      77
225  2010     1      20      -5      14      73      81      78     104
226  2011   -25     -43     -46     -39      20      55      78      72
227  2012   -51     -41     -56      18      46      63     104      83
228  2013   -25     -28       4       8      17      49      68      71

     -999.8  -999.9  -999.10  -999.11
0      -999    -999     -999     -999
1      -999    -999     -999     -999
2      -999    -999     -999     -999
3      -999    -999     -999     -999
4      -999    -999     -999     -999
..      ...     ...      ...      ...
224      43      25      -36      -13
225      84      50       29       19
226      58       5      -45      -64
227      66      47       -1       -7
228      49      34       -9      -58

[229 rows x 13 columns]

In [3]:
#Adding column names to data set as the data sets had no column header (Year and Months)
west1.columns =['Year','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez']
west2.columns =['Year','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez']
south1.columns =['Year','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez']
# west1.set_index("Year", inplace = True)
# west2.set_index("Year", inplace = True)
# south1.set_index("Year", inplace = True)

In [4]:
print(west1.dtypes)
print(west2.dtypes)
print(south2.dtypes)

Year    int64
Jan     int64
Feb     int64
Mar     int64
Apr     int64
May     int64
Jun     int64
Jul     int64
Aug     int64
Sept    int64
Oct     int64
Nov     int64
Dez     int64
dtype: object
Year    int64
Jan     int64
Feb     int64
Mar     int64
Apr     int64
May     int64
Jun     int64
Jul     int64
Aug     int64
Sept    int64
Oct     int64
Nov     int64
Dez     int64
dtype: object

NameError: name 'south2' is not defined

In [ ]:
#Removing rows from year 1785 to 1872 as they contain alot of empty values
west1=west1.iloc[88:]
west2=west2.iloc[88:]
south1=south1.iloc[88:]

In [ ]:
west1

In [ ]:
# Resetting index
west1=west1.reset_index()
west2=west2.reset_index()
south1=south1.reset_index()

In [ ]:
south1

In [ ]:
# Deleting old index column
west1=west1.drop('index', axis=1)
west2=west2.drop('index', axis=1)
south1=south1.drop('index', axis=1)
west1

In [ ]:
west1.loc[(west1['Year']>=1873)&(west1['Year']<1893),'Timeframe']='1873-1892'
west1.loc[(west1['Year']>=1893)&(west1['Year']<1913),'Timeframe']='1893-1912'
west1.loc[(west1['Year']>=1913)&(west1['Year']<1933),'Timeframe']='1913-1932'
west1.loc[(west1['Year']>=1933)&(west1['Year']<1953),'Timeframe']='1933-1952'
west1.loc[(west1['Year']>=1953)&(west1['Year']<1973),'Timeframe']='1953-1972'
west1.loc[(west1['Year']>=1973)&(west1['Year']<1993),'Timeframe']='1973-1992'
west1.loc[(west1['Year']>=1993)&(west1['Year']<2014),'Timeframe']='1993-2013'

west2.loc[(west2['Year']>=1873)&(west2['Year']<1893),'Timeframe']='1873-1892'
west2.loc[(west2['Year']>=1893)&(west2['Year']<1913),'Timeframe']='1893-1912'
west2.loc[(west2['Year']>=1913)&(west2['Year']<1933),'Timeframe']='1913-1932'
west2.loc[(west2['Year']>=1933)&(west2['Year']<1953),'Timeframe']='1933-1952'
west2.loc[(west2['Year']>=1953)&(west2['Year']<1973),'Timeframe']='1953-1972'
west2.loc[(west2['Year']>=1973)&(west2['Year']<1993),'Timeframe']='1973-1992'
west2.loc[(west2['Year']>=1993)&(west2['Year']<2014),'Timeframe']='1993-2013'

south1.loc[(south1['Year']>=1873)&(south1['Year']<1893),'Timeframe']='1873-1892'
south1.loc[(south1['Year']>=1893)&(south1['Year']<1913),'Timeframe']='1893-1912'
south1.loc[(south1['Year']>=1913)&(south1['Year']<1933),'Timeframe']='1913-1932'
south1.loc[(south1['Year']>=1933)&(south1['Year']<1953),'Timeframe']='1933-1952'
south1.loc[(south1['Year']>=1953)&(south1['Year']<1973),'Timeframe']='1953-1972'
south1.loc[(south1['Year']>=1973)&(south1['Year']<1993),'Timeframe']='1973-1992'
south1.loc[(south1['Year']>=1993)&(south1['Year']<2014),'Timeframe']='1993-2013'

In [ ]:
west1

In [ ]:
avg_west1 = west1.loc[: , "Jan":"Dez"]
west1['Avg_Year']=avg_west1.mean(axis=1)
avg_west2 = west2.loc[: , "Jan":"Dez"]
west2['Avg_Year']=avg_west2.mean(axis=1)
avg_south1 = south1.loc[: , "Jan":"Dez"]
south1['Avg_Year']=avg_south1.mean(axis=1)

In [ ]:
#Dividing values by 9 to get more real tempature (number 9 has been "randomly")
# west1[['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez']] = west1[['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez']]/9
# west2[['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez']] = west2[['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez']]/9
# south1[['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez']] = south1[['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez']]/9

In [ ]:
west1

In [ ]:
#Importing dataframes to MySQL database (table west1, west2, south1)
from sqlalchemy import create_engine
import mysql.connector as sqlc

# host="localhost",
# username="root",
# password="19225360",
# database="greenland"

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="19225360",
                               db="greenland"))
west1.to_sql('west1',con = engine, if_exists = 'append', chunksize = 1000)
west2.to_sql('west2',con = engine, if_exists = 'append', chunksize = 1000)
south1.to_sql('south1',con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
#Dropping  `index` columns in MySQL tables (was only used as workaround to import the dataframes)
import MySQLdb

db= MySQLdb.connect("localhost", "root", "19225360", "greenland")

cursor= db.cursor()

cursor.execute("ALTER TABLE west1 DROP `index`")
cursor.execute("ALTER TABLE west2 DROP `index`")
cursor.execute("ALTER TABLE south1 DROP `index`")

db.close()

In [ ]:
test

In [ ]:
west1_timeframe = west1.groupby(['Timeframe'])['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez'].mean()
west2_timeframe = west1.groupby(['Timeframe'])['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez'].mean()
south1_timeframe = south1.groupby(['Timeframe'])['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez'].mean()

In [ ]:
plt.figure(figsize=(12,5.5))
plt.plot(west1_timeframe.index, west1_timeframe['Jan'], label = "January")
plt.plot(west1_timeframe.index, west1_timeframe['Feb'], label = "February")
plt.plot(west1_timeframe.index, west1_timeframe['Mar'], label = "March")
plt.plot(west1_timeframe.index, west1_timeframe['Apr'], label = "April")
plt.plot(west1_timeframe.index, west1_timeframe['May'], label = "May")
plt.plot(west1_timeframe.index, west1_timeframe['Jun'], label = "June")
plt.plot(west1_timeframe.index, west1_timeframe['Jul'], label = "July")
plt.plot(west1_timeframe.index, west1_timeframe['Aug'], label = "August")
plt.plot(west1_timeframe.index, west1_timeframe['Sept'], label = "September")
plt.plot(west1_timeframe.index, west1_timeframe['Oct'], label = "October")
plt.plot(west1_timeframe.index, west1_timeframe['Nov'], label = "November")
plt.plot(west1_timeframe.index, west1_timeframe['Dez'], label = "Dezember")
plt.title('West1')
plt.legend(bbox_to_anchor=(0, 1), loc='upper left', ncol=1)
plt.show()

In [ ]:
plt.figure(figsize=(12,5.5))
plt.plot(west1_timeframe.index, west1_timeframe['Jan'], label = "January")
plt.plot(west1_timeframe.index, west1_timeframe['Feb'], label = "February")
plt.plot(west1_timeframe.index, west1_timeframe['Mar'], label = "March")
plt.plot(west1_timeframe.index, west1_timeframe['Apr'], label = "April")
plt.plot(west1_timeframe.index, west1_timeframe['May'], label = "May")
plt.plot(west1_timeframe.index, west1_timeframe['Jun'], label = "June")
plt.plot(west1_timeframe.index, west1_timeframe['Jul'], label = "July")
plt.plot(west1_timeframe.index, west1_timeframe['Aug'], label = "August")
plt.plot(west1_timeframe.index, west1_timeframe['Sept'], label = "September")
plt.plot(west1_timeframe.index, west1_timeframe['Oct'], label = "October")
plt.plot(west1_timeframe.index, west1_timeframe['Nov'], label = "November")
plt.plot(west1_timeframe.index, west1_timeframe['Dez'], label = "Dezember")
plt.title('West1')
plt.legend(bbox_to_anchor=(0, 1), loc='upper left', ncol=1)
plt.show()

In [ ]:
plt.figure(figsize=(12,5.5))
plt.plot(west2_timeframe.index, west2_timeframe['Jan'], label = "January")
plt.plot(west2_timeframe.index, west2_timeframe['Feb'], label = "February")
plt.plot(west2_timeframe.index, west2_timeframe['Mar'], label = "March")
plt.plot(west2_timeframe.index, west2_timeframe['Apr'], label = "April")
plt.plot(west2_timeframe.index, west2_timeframe['May'], label = "May")
plt.plot(west2_timeframe.index, west2_timeframe['Jun'], label = "June")
plt.plot(west2_timeframe.index, west2_timeframe['Jul'], label = "July")
plt.plot(west2_timeframe.index, west2_timeframe['Aug'], label = "August")
plt.plot(west2_timeframe.index, west2_timeframe['Sept'], label = "September")
plt.plot(west2_timeframe.index, west2_timeframe['Oct'], label = "October")
plt.plot(west2_timeframe.index, west2_timeframe['Nov'], label = "November")
plt.plot(west2_timeframe.index, west2_timeframe['Dez'], label = "Dezember")

plt.title('West2')
plt.legend(bbox_to_anchor=(0, 1), loc='upper left', ncol=1)
plt.show()

In [ ]:
plt.figure(figsize=(12,5.5))
plt.plot(south1_timeframe.index, south1_timeframe['Jan'], label = "January")
plt.plot(south1_timeframe.index, south1_timeframe['Feb'], label = "February")
plt.plot(south1_timeframe.index, south1_timeframe['Mar'], label = "March")
plt.plot(south1_timeframe.index, south1_timeframe['Apr'], label = "April")
plt.plot(south1_timeframe.index, south1_timeframe['May'], label = "May")
plt.plot(south1_timeframe.index, south1_timeframe['Jun'], label = "June")
plt.plot(south1_timeframe.index, south1_timeframe['Jul'], label = "July")
plt.plot(south1_timeframe.index, south1_timeframe['Aug'], label = "August")
plt.plot(south1_timeframe.index, south1_timeframe['Sept'], label = "September")
plt.plot(south1_timeframe.index, south1_timeframe['Oct'], label = "October")
plt.plot(south1_timeframe.index, south1_timeframe['Nov'], label = "November")
plt.plot(south1_timeframe.index, south1_timeframe['Dez'], label = "Dezember")

plt.title('South1')
plt.legend(bbox_to_anchor=(0, 1), loc='upper left', ncol=1)
plt.show()

In [ ]:
plt.plot(west1['Year'], west1['Avg_Year'], label = "West1")
plt.plot(west2['Year'], west2['Avg_Year'], label = "West2")
plt.plot(south1['Year'], south1['Avg_Year'], label = "South1")
plt.title('South1')
plt.legend(bbox_to_anchor=(0, 1), loc='upper left', ncol=1)
plt.show()

In [ ]:
west1['Avg_Year']

In [ ]:
plt.regplot(west2['Year'], west2['Avg_Year'], label = "Dezember")

plt.title('South1')
plt.legend(bbox_to_anchor=(0, 1), loc='upper left', ncol=1)
plt.show()

In [ ]:
plt.plot(south1['Year'], south1['Avg_Year'], label = "Dezember")

plt.title('South1')
plt.legend(bbox_to_anchor=(0, 1), loc='upper left', ncol=1)
plt.show()

In [ ]:
west1

In [ ]:
south1

In [ ]:
sns.regplot(x ='Age', y ='Tardies', data = students, x_estimator=np.mean)

In [ ]:
sns.lineplot(x=west1['Timeframe']=='1873-1892', y =west1['Jan'])

In [ ]:
west1

In [ ]:
test1=west1.groupby(['Year'])['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dez'].mean()

In [ ]:
import pandas as pd # import Pandas library 
from sqlalchemy import create_engine
my_conn = create_engine("mysql+mysqldb://root:19225360@localhost/greenland")
months_q="""SELECT Year, Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sept,Oct,Nov,Dez FROM west1 
          WHERE Year>=1873 and Year<1893 GROUP BY Year;"""
# year="SELECT Year FROM west1"
# df = pd.read_sql(query,my_conn)
# lb= [row for row in df['class']] # Labels of graph
months=pd.read_sql(months_q,my_conn)
plt.figure(figsize=(12,5.5))
plt.plot(months['Year'], months['Jan'], label = "Dezember")

In [ ]:
months

In [ ]:
#Selecting average temperature per year from all 3 sites via SQL
w1_year_avg_q="""SELECT Year, SUM(Jan+Feb+Mar+Apr+May+Jun+Jul+Aug+Sept+Oct+Nov+Dez)/12 as Year_Avg
        FROM west1 GROUP BY Year;"""
w2_year_avg_q="""SELECT Year, SUM(Jan+Feb+Mar+Apr+May+Jun+Jul+Aug+Sept+Oct+Nov+Dez)/12 as Year_Avg
        FROM west2 GROUP BY Year;"""
s1_year_avg_q="""SELECT Year, SUM(Jan+Feb+Mar+Apr+May+Jun+Jul+Aug+Sept+Oct+Nov+Dez)/12 as Year_Avg
        FROM south1 GROUP BY Year;"""
w1_year_avg=pd.read_sql(w1_year_avg_q,my_conn)
w2_year_avg=pd.read_sql(w2_year_avg_q,my_conn)
s1_year_avg=pd.read_sql(s1_year_avg_q,my_conn)
# plt.figure(figsize=(12,5.5))
# plt.plot(months['Year'], months['Jan'], label = "Dezember")

In [ ]:
#Plotting the yearly average temperature from each site
plt.figure(figsize=(12,5.5))
plt.plot(w1_year_avg['Year'], w1_year_avg['Year_Avg'], label = "West1")
plt.plot(w2_year_avg['Year'], w2_year_avg['Year_Avg'], label = "West2")
plt.plot(s1_year_avg['Year'], s1_year_avg['Year_Avg'], label = "South1")
plt.title('Average yearly temperatur 1873 to 2013')
plt.legend(bbox_to_anchor=(0, 1), loc='upper left', ncol=1)
plt.show()

In [ ]:
w1_year_avg

In [ ]:
w1_jan_avg_q="""SELECT Year, Jan
        FROM west1 GROUP BY Year;"""
w1_jan_avg=pd.read_sql(w1_jan_avg_q,my_conn)
plt.plot(w1_jan_avg['Year'], w1_jan_avg['Jan'], label = "West1")

# Create a 'x' and 'y' column for convenience
w1_jan_avg['y'] = w1_jan_avg['Jan']     # create a new y-col (optional)
w1_jan_avg['Jan'] = np.arange(len(w1_jan_avg))  # create x-col of continuous integers

# Drop the rows that contain missing days
#df = df.dropna()

# Fit linear regression model using scikit-learn

In [ ]:
w1_jan_avg_q="""SELECT Year, Jan
        FROM west1 GROUP BY Year;"""
w1_jan_avg=pd.read_sql(w1_jan_avg_q,my_conn)
sns.regplot(data=w1_jan_avg, x='Year', y='Jan', label = "West1")

In [ ]:
w1_timeframe_q="""SELECT CASE
         WHEN Year >= 1873 AND Year < 1893 THEN '1873-1892'
         WHEN Year >= 1893 AND Year < 1913 THEN '1893-1912'
         WHEN Year >= 1913 AND Year < 1933 THEN '1913-1932'
         WHEN Year >= 1933 AND Year < 1953 THEN '1933-1952'
         WHEN Year >= 1953 AND Year < 1973 THEN '1953-1972'
         WHEN Year >= 1973 AND Year < 1993 THEN '1973-1992'
         WHEN Year >= 1993 AND Year <= 2013 THEN '1993-2013'
       END,
       Count(*)
FROM   west1
WHERE  Year = 'Year'
       AND Year > 1873
       AND Year <= 2013
GROUP  BY CASE
		 WHEN Year >= 1873 AND Year < 1893 THEN '1873-1892'
         WHEN Year >= 1893 AND Year < 1913 THEN '1893-1912'
         WHEN Year >= 1913 AND Year < 1933 THEN'1913-1932'
         WHEN Year >= 1933 AND Year < 1953 THEN '1933-1952'
         WHEN Year >= 1953 AND Year < 1973 THEN '1953-1972'
         WHEN Year >= 1973 AND Year < 1993 THEN '1973-1992'
         WHEN Year >= 1993 AND Year <= 2013 THEN '1993-2013'
END;"""
w1_timeframe=pd.read_sql(w1_timeframe,my_conn)

In [5]:
w1_timeframe

NameError: name 'w1_timeframe' is not defined

In [6]:
w1_year_avg_q="""SELECT Year, SUM(Jan+Feb+Mar+Apr+May+Jun+Jul+Aug+Sept+Oct+Nov+Dez)/12 as Year_Avg
        FROM west1 GROUP BY Year;"""
w2_year_avg_q="""SELECT Year, SUM(Jan+Feb+Mar+Apr+May+Jun+Jul+Aug+Sept+Oct+Nov+Dez)/12 as Year_Avg
        FROM west2 GROUP BY Year;"""
s1_year_avg_q="""SELECT Year, SUM(Jan+Feb+Mar+Apr+May+Jun+Jul+Aug+Sept+Oct+Nov+Dez)/12 as Year_Avg
        FROM south1 GROUP BY Year;"""
w1_year_avg=pd.read_sql(w1_year_avg_q,my_conn)
w2_year_avg=pd.read_sql(w2_year_avg_q,my_conn)
s1_year_avg=pd.read_sql(s1_year_avg_q,my_conn)

NameError: name 'my_conn' is not defined