# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [53]:
import pandas as pd
import scipy
import math
import numpy as np
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [3]:
employees=pd.read_csv(r"C:\Users\Mario\Documents\Labs\Module2\Lab_7_Hypothesis-Testing\employees_advanced.csv")
employees

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [54]:
employees['Annual Salary'].head(50)

0     101442.0
1      94122.0
2     101592.0
3     110064.0
4          NaN
5      50436.0
6          NaN
7          NaN
8     103350.0
9      93354.0
10         NaN
11     84054.0
12     87006.0
13    102228.0
14     84054.0
15     91272.0
16    111492.0
17     95484.0
18         NaN
19         NaN
20     65448.0
21         NaN
22     90024.0
23     82614.0
24         NaN
25     48078.0
26         NaN
27     76266.0
28     48078.0
29    110064.0
30    110064.0
31     55644.0
32     80016.0
33         NaN
34     72510.0
35     65820.0
36         NaN
37    128970.0
38     68616.0
39         NaN
40         NaN
41     89148.0
42         NaN
43    101712.0
44     70092.0
45     99324.0
46     90024.0
47     48078.0
48         NaN
49     84420.0
Name: Annual Salary, dtype: float64

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [9]:
employees['Annual Salary'].isna().sum()

8022

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [12]:
employees[['Annual Salary','Hourly Rate']].count()

#secont possibility from Mahen
#pd.crosstab(df['Department'], df['Salary or Hourly'], values=df['Name'], aggfunc='count').sort_values('Hourly', ascending=False)

Annual Salary    25161
Hourly Rate       8022
dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [11]:

employees.groupby(['Department'])['Name'].count()

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

In [ ]:
#df=employees.set_index('Department')['Name']
#df

In [ ]:
#df.sort_index()

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [56]:
from scipy.stats import ttest_ind
alpha=0.05

stats.ttest_1samp(employees['Hourly Rate'].dropna(), popmean=30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [66]:
alpha=0.08
police=employees[employees['Department'] == 'POLICE']
stats.ttest_1samp(police['Annual Salary'].dropna(), popmean=86000, alternative='greater')

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0010301701775482569)

Using the `crosstab` function, find the department that has the most hourly workers.

In [22]:
pd.crosstab(employees['Department'], employees['Salary or Hourly'], values=employees['Salary or Hourly'], aggfunc='count').sort_values('Hourly', ascending=False)

Salary or Hourly       Hourly   Salary
Department
STREETS & SAN          1862.0    336.0
WATER MGMNT            1513.0    366.0
OEMC                   1273.0    829.0
AVIATION               1082.0    547.0
GENERAL SERVICES        765.0    215.0
TRANSPORTN              725.0    415.0
PUBLIC LIBRARY          299.0    716.0
FAMILY & SUPPORT        287.0    328.0
CITY COUNCIL             64.0    347.0
FINANCE                  44.0    516.0
LAW                      40.0    367.0
ANIMAL CONTRL            19.0     62.0
POLICE                   10.0  13404.0
MAYOR'S OFFICE            8.0     77.0
CULTURAL AFFAIRS          7.0     58.0
BUSINESS AFFAIRS          7.0    164.0
HUMAN RESOURCES           4.0     75.0
COMMUNITY DEVELOPMENT     4.0    203.0
HEALTH                    3.0    485.0
FIRE                      2.0   4639.0
PROCUREMENT               2.0     90.0
BUDGET & MGMT             2.0     44.0
ADMIN HEARNG              NaN     39.0
BOARD OF ELECTION         NaN    107.0
BOARD OF ETHICS           NaN      8.0
BUILDINGS                 NaN    269.0
CITY CLERK                NaN     84.0
COPA                      NaN    116.0
DISABILITIES              NaN     28.0
DoIT                      NaN     99.0
HUMAN RELATIONS           NaN     16.0
INSPECTOR GEN             NaN     87.0
LICENSE APPL COMM         NaN      1.0
POLICE BOARD              NaN      2.0
TREASURER                 NaN     22.0

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [64]:
alpha=0.05
streets=employees[employees['Department'] == 'STREETS & SAN']
stats.ttest_1samp(streets['Hourly Rate'].dropna(), popmean=35, alternative='less')

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=1.6689265282353859e-21)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [38]:
h_rate=employees['Hourly Rate'].dropna()
stats.t.interval(alpha=0.95, df=len(h_rate)-1,
              loc=np.mean(h_rate),
              scale=stats.sem(h_rate))

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [52]:
h_rate=employees['Annual Salary'].dropna()
stats.t.interval(alpha=0.95, df=len(h_rate)-1,
              loc=np.mean(h_rate),
              scale=stats.sem(h_rate))

(86526.99656774197, 87047.0030125611)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [33]:
salary_police=police['Annual Salary'].dropna()
stats.t.interval(alpha=0.95, df=len(salary_police)-1,
              loc=np.mean(salary_police),
              scale=stats.sem(salary_police))

(80738.32376739128, 85300.17623260872)

In [57]:
filt = (salaries['Department'] == 'POLICE') & (salaries['Salary or Hourly'] == 'Salary')
police = salaries.loc[filt,'Annual Salary'].dropna().tolist()
st.t.interval(alpha=0.95, df=len(police)-1, loc=np.mean(police), scale=st.sem(police))

NameError: name 'salaries' is not defined